{{ template "base" .}}

{{define "title"}}Call{{end}}

{{define "body"}}

    <div class="container mt-3">

        {{if .Call}}

            <div class="container mt-5">
                <hr>
                {{template "call" .Call}}
            </div>

        {{else}}

            <h3 class="h3">звонок не найден</h3>

        {{end}}

    </div>

{{end}}